 main {
    height: 100vh;
} 

.contenedor {
    background-color: #ffffff;
    border-radius: 5px;
    left: 50%;
    min-width: 520px;
    padding: 30px;
    position: absolute;    
    top: 40rem;
    transform: translate(-50%,-50%);
    width: 60rem; 
    
}

.imagen-contenedor {
    display: inline-block;
    justify-content: space-evenly;
    position: relative;    
    text-align: center;
    width: 100%;
}

#disco1, #disco2 , #disco3 {
    color: rgb(251, 251, 255);
    content: normal;
    font-size: 2rem;
    font-weight: bold;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

main.discografia img {
    display: none;
    justify-content: space-evenly;
    margin-left:6rem;
    position: relative;
    transition: all .8s ease;
    width: 80%;
}

main.discografia img:hover {
    filter:brightness(50%);
    transition: all 1.16s ease;
}

h3 {
    color: rgb(250, 250, 250);
    font-family: 'fisurada';
}
 
main.discografia img.active {display: block;}

#prev, #next {
    background-color: #292929;
    border: none;
    border-radius: 3px;
    bottom: 0;
    color: #FFF;
    font-size: 22px;
    font-weight: bolder;
    height: 100px;
    margin: auto;
    position: absolute;
    top: 0;
    width: 40px;
}

#prev {left: 15px}

#next {right: 15px}

@media (max-width: 768px) {
    .contenedor {
        background-color: #ffffff;
        border-radius: 5px;
        left: 50%;
        min-width: 300px;
        padding: 30px;
        position: relative;    
        top: 40rem;
        transform: translate(-50%,-50%);
        width: 30rem; 
        
    }
    #disco1, #disco2 , #disco3 {
        color: rgb(251, 251, 255);
        background: linear-gradient(90deg, rgb(129, 123, 122) 0%, rgba(41,41,41,1) );
        border-radius: 15px;
        content: normal;
        font-size: 1rem;
        font-weight: bold;
        left: 50%;
        position: absolute;
        top: -70%;
        transform: translate(-50%, -50%);
    }

    .imagen-contenedor {
        display: inline-block;
        justify-content: space-evenly;
        position: relative;    
        text-align: center;
        width: 100%;
    }
}