 main {
    height: 100vh;
} 

.contenedor {
    background-color: #ffffff;
    border-radius: 5px;
    left: 50%;
    min-width: 520px;
    padding: 30px;
    position: absolute;    
    top: 40rem;
    transform: translate(-50%,-50%);
    width: 60rem; 
    
}

.imagen-contenedor {
    display: inline-block;
    justify-content: space-evenly;
    position: relative;    
    text-align: left; 
    width: 100%;
}

#disco1, #disco2 , #disco3 , #disco4 , #disco5, #disco6, #disco7, #disco8 , #disco9 , #disco10, #disco11{
    color: rgb(251, 251, 255);
    content: normal;
    font-size: 2rem;
    font-weight: bold;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

main.discografia img {
    display: none;
    justify-content: space-evenly;
    margin-left:6rem;
    position: relative;
    transition: all .8s ease;
    width: 80%;
    filter:brightness(70%);
}

main.discografia img:hover {
    filter:brightness(20%);
    transition: all 1.16s ease;
}

h3 {
    color: rgb(250, 250, 250);
    font-family: 'fisurada';
}
 
main.discografia img.active {display: block;}

#prev, #next {
    background-color: #292929;
    border: none;
    border-radius: 3px;
    bottom: 0;
    color: #FFF;
    font-size: 22px;
    font-weight: bolder;
    height: 100px;
    margin: auto;
    position: absolute;
    top: 0;
    width: 40px;
}
.no-entran{
    display: none;
}

#prev {left: 15px}

#next {right: 15px}

@media (max-width: 768px) {
    .contenedor {
        background-color: #ffffff;
        border-radius: 5px;
        left: 50%;
        min-width: 150px;
        padding: 30px;
        position: relative;    
        top: 20rem;
        transform: translate(-50%,-50%);
        width: 30rem;
        
    }
    #disco1, #disco2 , #disco3 ,#disco4, #disco5, #disco6, #disco7, #disco8 , #disco9 , #disco10, #disco11{
        color: rgb(243, 243, 248);
        background: linear-gradient(90deg, rgb(129, 123, 122) 0%, rgba(41,41,41,1) );
        border-radius: 15px;
        opacity: 0.6;
        width: 100%;
        content: normal;
        font-size: 1rem;
        font-weight: bold;
        left: 70%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        /* filter:brightness(50%); */

    }
    #disco1:hover, #disco2:hover, #disco3:hover, #disco4:hover,#disco5:hover, #disco6:hover, #disco7:hover, #disco8:hover,#disco9:hover, #disco10:hover, #disco11:hover{
        /* filter:brightness(50%); */
        opacity: .85;
        transition: all 1.16s ease;
    }

    .imagen-contenedor {
        display: relative;
        justify-content: center;
        position: relative;    
        text-align: left;
        width: 75%;
        /* filter:brightness(70%);  */

    }
}