@font-face {
    font-family: 'fisurada';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/land-v2-webfont.woff2') format('woff2'),
    url('../fonts/land-v2-webfont.woff') format('woff');
}


/**********/
/* HEADER */

header {
    align-items: center;
    background: black;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem 0;
    padding: 1rem;
}

.logo {max-width: 25rem}

.nav-list {
    display: flex;
    column-gap: 1rem;
    list-style-type: none;
    margin: 0;
}

.abrir_menu, .cerrar-menu {display: none}

@media (max-width: 768px) {
    .abrir_menu, .cerrar-menu {
        background-color: transparent;
        border: 0;
        color: aliceblue;
        cursor: pointer;
        display: block;
        font-size: 2.2rem;
    }
    
    .nav-menu {
        align-items: end;
        background-color: black;
        border-radius: 15px;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,.7);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        opacity: 0;
        padding: 2rem;
        position: absolute;
        right: 0;
        top: 0;
        visibility: hidden;
    }

    .nav-menu.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        align-items: end;
        flex-direction: column;
        height: auto;
        row-gap: 1rem;
        top: 60px;
        width: 100%;
    }

    body main section .container {
        grid-template-columns: repeat(1, 1fr);
    }    
}


/***********/
/* GENERAL */

body {
    background: url('../imgs/recital.jpg') black top center no-repeat;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

nav#gral-menu ul li a {
    color: white;
    font-family: 'fisurada';
    font-size: 2rem;
    padding: 0 0.5rem;
}

nav#gral-menu ul li a:hover {
    background: white;
    border-radius: 0.5rem;
    color: #4F1C18;
    transition: all 0.5s;
}

nav#gral-menu ul li a.active {
    background: white;
    border-radius: 0.5rem;
    color: #4F1C18;
}


main {
    background: rgba(79, 28, 24, 0.95); /* #4F1C18; */
    border-radius: 1rem;
    color: white;
    padding: 1rem;
}

.main-title {
    color: white;
    font-family: 'fisurada';
    font-size: 3rem;
    margin: 0 0 1rem 0;
    text-align: center;
}

main section .container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

main section .container .item {
}

main.index article {
    background: #292929;
    border-radius: 1rem;
    box-shadow: 0px 0px 6px 0px #D74D40;
    padding: 1rem;
}

main.index article h3 {
    margin: 0;
}

/**********/
/* FOOTER */

footer {
    background: black;
    border-radius: 0.5rem;
    bottom: 0;
    color: white;
    padding: 1rem;
    position: fixed;
    text-align: right;
    max-width: calc(1200px - 2rem);
    width: calc(100% - 2rem);
}

footer a {
    color: white;
    font-size: 1.5rem;
    margin-left: 0.5rem;
}